.song_container {
	width: 800px;
	height: 50px;
	background-color: white;
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 5px 0;
	padding: 50px;
    background:#f2f2f2;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0;
}

.song_img {
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.song_info {
	display: flex;
	flex-direction: column;
	margin-top:20px;
	margin-bottom: 20px;
}

.song_name,
.song_artist {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

.song_artist {
	font-weight: normal;
}

.audio {
	margin-left: auto;
}
.check_img {
	width: 60px;
	height: 60px;
}
.container {
	padding: 50px;
    background:#f2f2f2;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0;
	width: 100vw;
	min-height: 100vh;
	background-color: #2941ab;
}

.songs_container {
	display: flex;
	
    background:#f2f2f2;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form {
	padding: 50px;
	width: 80%;
	background: white;
	border-radius: 2px;
	box-shadow: 5px 5px 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
    background:#fdfbfb;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0;
    text-align: left;
}
