body {
  margin: 0px;
}

.topicContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 20% auto;
}

.frame {
  margin-top: 2vh;
  background-color: whitesmoke;
  width: 40vh;
  margin-right: 10vh;
}

.leftTopic {
  background-color: whitesmoke;
}

.topicNam {
  font-weight: bold;
  font-size: 8vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 5vh;
  margin-left: 5vh;
}

.topicHr {
  color: rgb(255, 166, 1);
  border-top: 1vh solid;
  width: 50%;
  margin-bottom: 4vh;
}

.topicTop {
  font-weight: bold;
  font-size: 7vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20vh;
  margin-left: 5vh;
}

.statusUp {
  font-size: 2vh;
  color: orange;
}

.titleChat {
  margin-left: 2vh;
}

.chatBody {
  color: orange;
}

.btChat {
  text-decoration: none;
  color: orange;
  margin-left: 100vh;
  cursor: pointer;
}

.cardChat {
  padding: 3vh;
  margin-top: 3vh;
  box-shadow: 0 0 0 0;
  background-color: whitesmoke;
  width: 70%;
  cursor: pointer;
}

.cardChaReply {
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 40vh;
  padding: 3vh;
  box-shadow: 0 0 0 0;
  background-color: whitesmoke;
  width: 70%;
}

.btChatEdit {
  text-decoration: none;
  color: orange;
  margin-right: 2vh;
}

.btChatDelete {
  text-decoration: none;

  color: orange;
}

.btnChtGroup {
  margin-left: 87vh;
  margin-top: -3.3vh;
}

.cardChatOne {
  padding: 3vh;
  margin-top: 3vh;
  box-shadow: 0 0 0 0;
  background-color: whitesmoke;
  width: 70%;
}

.btChatUpdate {
  text-decoration: none;
  color: orange;
  margin-right: 2vh;
}

.btChatNewDelete {
  text-decoration: none;
  color: orange;
}

.btnChtGroupNew {
  margin-left: 87vh;
  margin-top: -3.3vh;
}
