body {
    margin: 0px;
  }
  
  .topic-containerPre {
    display: grid;
    height: 100vh;
    grid-template-columns: 20% auto;
  }
  
  .leftCom {
    background-color: white;
  }
  
  .tableControl {
    padding: 3vh;
    margin-top: 3vh;
    line-height: 6vh;
  }
  
  .textNew {
    margin-top: 1vh;
    margin-left: 3vh;
    margin-bottom: 0ch;
  }
  
  .title {
    margin-top: 9vh;
    font-weight: bold;
    margin-left: 3vh;
    margin-bottom: 3vh;
  }
  
  .btn1 {
    margin-left: 80%;
    margin-top: 1vh;
  }
  
  .formTitlePre {
    margin-top: 1vh;
    margin-left: 1vh;
    font-size: 5vh;
    font-weight: bold;
    padding: 4vh;
    border-radius: 5vh;
  }
  
  .input2 {
    margin-top: 15vh;
    margin-left: 5vh;
    margin-bottom: 10vh;
  }
  
  .map1 {
    margin-left: 5vh;
    background-color: whitesmoke;
    padding: 5vh;
  }
  
  .totalMark {
    border-radius: 2vh;
    padding: 2vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 35vh;
    margin-left: 2vh;
    font-size: 4vh;
    font-weight: bold;
    box-shadow: 0 0 4px 0;
  }
  
  .getMarkingBtn {
    margin-left: 121vh;
  }
  
  .evaluateHr {
    margin-left: 2vh;
    border: solid orange;
  }
  
  .submitColor {
    color: orange;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  